:root{
  --accent:#5B7C4F;
  --text:#2C2C2C;
  --light-bg:#F5F3EE;
  --cream:#FAF8F3;
}

html,body{overflow-x:hidden!important}
body{
  margin:0; color:var(--text);
  background:var(--cream);
  font-family:"Nunito",sans-serif;
}

* {
  box-sizing: border-box;
}
